:root {
  --unit: 1px; }

body {
  height: 20vh;
  margin: 0;
  display: grid;
  background: #cc91d3;
  background-image: -moz-linear-gradient(bottom, #cc91d3 0%, #847de2 100%);
  background-image: -webkit-linear-gradient(bottom, #cc91d3 0%, #847de2 100%);
  background-image: linear-gradient(to top, #cc91d3 0%, #847de2 100%);
  background-repeat: no-repeat;
  background-size: cover; }

#contenido {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.listaTareas {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }

.formulario {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 30px;
  border: 2px solid #1b1919;
  border-radius: 20px;
  background-color: #85d9c3;
  width: 400px;
  font-size: 20px; }
  .formulario button {
    margin-top: 10px;
    margin: 10px auto 0; }
  .formulario input {
    margin: 5px; }

.tarea {
  background-color: #b9c4c5;
  width: 300px;
  border-radius: 25px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-family: Arial;
  text-align: center;
  padding: 10px;
  padding-right: 20px;
  position: relative; }

.tarea-light_purple {
  color: #b47fd7;
  border: 2px solid #7ab2d0;
  background-color: #d8f2f5; }

.tarea-light_mint {
  color: #00A39A;
  border: 2px solid #B9EDC3;
  background-color: #F6FEF8; }

.tarea-gruvbox_light {
  color: #b57614;
  border: 2px solid #f7b42d;
  background-color: #fbf1c7; }

.hidden {
  display: none; }

.mostrar {
  display: block; }

.boton-especial {
  width: calc(60 * var(--unit));
  height: 60px;
  background: #b083dd;
  background-image: -moz-linear-gradient(bottom, #b083dd 0%, #ebc158 100%);
  background-image: -webkit-linear-gradient(bottom, #b083dd 0%, #ebc158 100%);
  background-image: linear-gradient(to right, #b083dd 0%, #ebc158 100%);
  background-repeat: no-repeat;
  background-size: cover; }

#mostrarFormulario {
  border-radius: 100%; }

.mensajes {
  border: 2px solid #44994b;
  color: #44994b;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  text-align: center;
  font-weight: bold;
  transition: 1.0s ease; }

.errores {
  border: 2px solid #746161;
  color: #746161;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  text-align: center;
  font-weight: bold;
  transition: 1.0s ease; }

.bienvenida {
  border: 2px solid #1b1919;
  color: #1b1919;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  text-align: center;
  font-weight: bold;
  transition: 1.0s ease; }

.botonCerrar {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid white;
  border-radius: 100%;
  background-color: #746161;
  color: white;
  font-weight: bold; }

.botonEditar {
  position: absolute;
  right: 0;
  bottom: 0; }

#eliminarTodasLasTareas {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  margin-top: 200px;
  margin-bottom: 10px; }

/*# sourceMappingURL=style.css.map */
