//1. Variables: Define variables tales como colores principales, tamaños de fuente y márgenes 
// específicos para la interfaz de un Gestor de Tareas.
// 2. Mixins: Define al menos 5 mixins que apliquen estilos coherentes para elementos comunes 
// como botones, formularios y tarjetas de tareas.
// 3. Funciones: Utiliza las funciones incluidas en Sass (puedes utilizar otras que no aparezcan en 
// listado), utiliza al menos 4.
// 4. Operadores: Utiliza operadores para generar estilos para diferentes prioridades de tareas, 
// ajustando colores y estilos automáticamente. (Los que consideres convenientes)
// 5. Utiliza al menos en 5 ocaciones @if, @while, @each, @for, …
// 6. Realiza comentarios en tu código Sass para explicar el propósito de las variables, mixins, 
// funciones y estructuras de control que has creado
@import "mixins";
@import "variables";

:root {
    --unit: 1px;
}

body {
    height: 20vh;
	margin: 0;
	display: grid;
    @include degradadoDual($color-fondo, $color-body, top);
}

#contenido {
    @include flexOptions(column, wrap, center, center);
}

.listaTareas {
    @include flexOptions(row, nowrap, center, center);
}

.formulario{
    @include flexOptions(column, nowrap, center, center);
    padding: 20px;
    margin: 30px;
    border: 2px solid $negro;
    border-radius: $borde-formulario;
    background-color: $color-fondo-formulario;
    width: $ancho-formulario;
    font-size: $tamano-texto-formulario;

    button {
        margin-top: 10px;
        margin: 10px auto 0;
    }

    input{
        margin: 5px;
    }
}

.tarea {
    @include tareas($color-fondo-tarea, $borde-tarea, $ancho-tarea, $tamano-texto-tarea, $fuente-tarea);
}

@mixin temaTarea($title_color, $icon_color, $text_color, $border_color, $bg_color) {
    color: $title_color;
    border: 2px solid $border_color;
    background-color: $bg_color;
}

@each $tema in $temas {
    $nombre: nth($tema, 1);
    $colores: nth($tema, 2);

    $title_color: map-get($colores, '$title_color');
    $text_color: map-get($colores, '$text_color');
    $icon_color: map-get($colores, '$icon_color');
    $border_color: map-get($colores, '$border_color');
    $bg_color: map-get($colores, '$bg_color');

    .tarea-#{$nombre} {
        @include temaTarea($title_color, $icon_color, $text_color, $border_color, $bg_color);
    }
}

.hidden {
    display: none;
}

.mostrar{
    display:block;
}

.boton-especial{
    width: calc(60 * var(--unit));  
    height: 60px;
    @include degradadoDual($morado, $naranja, right);
}

#mostrarFormulario{
    border-radius: 100%;
}

@mixin notificaciones($color-notificacion){
    border: 2px solid $color-notificacion;
    color: $color-notificacion;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    margin:20px;
    text-align: center;
    font-weight: bold;
    transition: 1.0s ease;
}

.mensajes{
    @include notificaciones($color-mensajes)
}

.errores{
    @include notificaciones($cruz)
}

.bienvenida{
    @include notificaciones($negro)
}

.botonCerrar {
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid white;
    border-radius: 100%;
    background-color: $cruz;
    color: white;
    font-weight: bold;
}

.botonEditar {
    position: absolute;
    right: 0;
    bottom: 0;
 }

 #eliminarTodasLasTareas {
    position:absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    margin-top: 200px;
    margin-bottom: 10px;
  }