$unit: 40px;

$color-fondo: #cc91d3;
$color-fondo-tarea: #b9c4c5;
$color-fondo-formulario: #85d9c3;

$color-texto: #000;
$color-body: #847de2;

$naranja: #ebc158;
$morado: #b083dd;
$verde: #79e6a1;
$azul: #5c7ddf;
$rojo: #cf4d46;
$negro: #1b1919;

$light_mint: (
    '$title_color': #00A39A,
    '$text_color': #9C7FD7,
    '$icon_color': #00A39A,
    '$border_color': #B9EDC3,
    '$bg_color': #F6FEF8,
);

$light_purple: (
    '$title_color': #b47fd7,
    '$text_color': #04628a,
    '$icon_color': #7b5cba,
    '$border_color': #7ab2d0,
    '$bg_color': #d8f2f5,
);

$gruvbox_light: (
    '$title_color': #b57614,
    '$icon_color': #af3a03,
    '$text_color': #427b58,
    '$border_color': #f7b42d,
    '$bg_color': #fbf1c7,
);


$temas: (
    ("light_purple", $light_purple),
    ("light_mint", $light_mint),
    ("gruvbox_light", $gruvbox_light)
);

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$font-size: 16px;

$borde-formulario: 20px;
$borde-tarea: 25px;

$ancho-tarea: 300px;
$ancho-formulario: 400px;


$tamano-texto-tarea: 17px;
$tamano-texto-formulario: 20px;

$altura: 150px;

$fuente-tarea: Arial;

$color-mensajes: #44994b;
$cruz: #746161;