$unit: 40px;

$color-fondo: #cc91d3;
$color-fondo-tarea: #b9c4c5;
$color-fondo-formulario: #85d9c3;

$color-texto: #000;
$color-body: #847de2;

$naranja: #ebc158;
$morado: #b083dd;
$verde: #79e6a1;
$azul: #5c7ddf;
$rojo: #cf4d46;
$negro: #1b1919;

$colores: "negro"$negro, "rojo"$rojo, "verde"$verde, "azul"$azul, "naranja"$naranja, "morado"$morado;

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$font-size: 16px;

$borde-formulario: 20px;
$borde-tarea: 25px;

$ancho-tarea: 300px;
$ancho-formulario: 400px;


$tamano-texto-tarea: 17px;
$tamano-texto-formulario: 20px;

$altura: 150px;

$fuente-tarea: Arial;

$color-mensajes: #3aa343;
$color-errores: #c33030;